<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage - {{ status }}</title>
    <style type="text/css">
        table td {
            padding: .5em 1em;
        }
    </style>
</head>
<body>
    <p>{{ age_minutes }} minutes ago, the garage door status was updated to <b>{{ status | lower }}</b>.</p>
    {% if age_minutes > 60 %}
    <p>Warning: last updated over 1 hour ago. Device may not be working.</p>
    {% endif %}
</body>
</html>