<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage - {{ status }}</title>
    {% if status == "Open" %}
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for("static", filename="open.png") }}">
    {% else %}
    <link rel="icon" 
        type="image/png" 
        href="{{ url_for("static", filename="closed.png") }}">
    {% endif %}
    <style type="text/css">
        table td {
            padding: .5em 1em;
        }
    </style>
</head>
<body>
    <p>Garage door status last updated to <b>{{ status | lower }}</b> {{ age_minutes }} minutes ago (<span data-unixtime="{{ last_updated_secs }}"></span>).</p>
    {% if last_health_age_minutes %}
    <p>Last health check was {{ last_health_age_minutes }} minutes ago (<span data-unixtime="{{ last_health_unix_timestamp_secs }}"></span>).</p>
    {% endif %}

    {% if (last_health_age_minutes and last_health_age_minutes > 65) and age_minutes > 65 %}
    <p>Warning: last status update was over 1 hour and 5 minutes ago. Device may not be working.</p>
    {% endif %}

    {% if last_open_unix_timestamp_secs and last_open_unix_timestamp_secs != last_updated_secs %}
        Garage door status was last <b>open</b> at <span data-unixtime="{{ last_open_unix_timestamp_secs }}"></span>.
    {% endif %}
    
    <script>
        const els = document.querySelectorAll("[data-unixtime]");
        els.forEach((el) => {
            const dateUnixMS = parseInt(el.getAttribute("data-unixtime")) * 1000;
            const dateStr = (new Date(dateUnixMS)).toLocaleString();
            el.innerHTML = dateStr;
        })
    </script>

</body>
</html>